<div class="flex-1 overflow-y-auto p-4 md:p-8 scroll-smooth">
  <div class="max-w-7xl mx-auto flex flex-col gap-4">

    <!-- Header -->
    <div class="flex flex-col md:flex-row md:items-end justify-between gap-3">
      <div>
        <h1 class="text-3xl font-bold text-slate-900">Crear nuevo producto</h1>
        <p class="text-slate-600">Agrega nuevos productos al inventario</p>
      </div>
      <div class="flex gap-4">
        <p-button label="Cancelar" [raised]="true" severity="secondary" [routerLink]="['/admin/list-productos']" />
        <p-button label="Guardar Producto" [raised]="true" severity="primary" icon="pi pi-save"
          (onClick)="guardarProducto()" />
      </div>
    </div>

    <!-- Formulario -->
    <form [formGroup]="formProducto" 
    class="grid grid-cols-1 gap-5">
      <!-- Información general -->
      <section class="bg-surface-100 p-6 rounded-xl border border-surface-300 shadow-sm">
        <h3 class="text-lg font-bold mb-4">
          <span class="pi pi-info-circle text-blue-600 mr-1"></span>
          Información General
        </h3>



        <div class="grid grid-cols-1 gap-4">
          <!-- Nombre -->
          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              Nombre de la Producto
            </label>

            <input pInputText type="text" formControlName="nombre" placeholder="Ej: Bosch, Dewalt, Makita"
              class="w-full" />
            @if (
            formProducto.get('nombre')?.invalid &&
            formProducto.get('nombre')?.touched
            ) {
            <small class="text-red-600">
              El nombre de la producto debe tener entre 3 y 50 caracteres.
            </small>
            }

            <label class="block text-sm font-medium text-gray-600 mb-1">
              Código
            </label>

            <input pInputText type="number" formControlName="codigo" placeholder="Ej: 1001" class="w-full" />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              Modelo
            </label>
            <input pInputText type="text" formControlName="modelo" placeholder="Ej: GSB 1200" class="w-full" />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              Color
            </label>
            <input pInputText type="text" formControlName="color" placeholder="Ej: Azul" class="w-full" />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              Descripción
            </label>

            <textarea pTextarea formControlName="descripcion" placeholder="Descripción del producto" class="w-full"
              rows="4"></textarea>
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              Precio
            </label>

            <input pInputText type="number" formControlName="precio" placeholder="Ej: 15000" class="w-full" />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              Stock
            </label>

            <input pInputText type="number" formControlName="stock" placeholder="Ej: 20" class="w-full" />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              Categoria
            </label>

            <p-select [options]="categorias()" formControlName="categoria_id" optionLabel="nombre" optionValue="id"
              placeholder="Selecciona una categoria" class="w-full" appendTo="body" />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              Marca
            </label>

            <p-select [options]="marcas()" formControlName="marca_id" optionLabel="nombre" optionValue="id"
              placeholder="Selecciona una marca" class="w-full" appendTo="body" />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              URL de la imagen
            </label>

            <input pInputText type="text" formControlName="url_imagen" placeholder="https://..." class="w-full" />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600 mb-1">
              Estado
            </label>

            <input pInputText type="text" formControlName="estado" placeholder="Estado del producto" class="w-full" />
          </div>
        </div>
      </section>
    </form>

    <!-- Debug -->

    @if (showDebug) {
    <div class="mt-6 p-4 bg-surface-100 rounded-lg text-xs">
      <pre>{{ formProducto.value | json }}</pre>
      <pre>Formulario es Valido: {{ formProducto.valid | json }}</pre>
    </div>
    }

  </div>
</div>